@import "inc/bootstrap/variables";
@import "inc/bootstrap/mixins";
/* @import "inc/non-responsive"; */
/* 自定义字体 */
@import "inc/font";
/* 自定义变量 */
@import "inc/variables";
/* reset html */
@import "inc/reset";
/* reset bootstrap */
@import "inc/extend-bootstrap";
/* layout */
@import "inc/layout"; 

@siteBoardHeaderBg: #fff;
@siteBoardHeaderHeight: 60px;
@siteBlockOrderBorderColor: #cddbe8;

.board-header {
    background: @siteBoardHeaderBg;
    height: $siteBoardHeaderHeight;
    padding: 0 20px;
    &-ul {
        margin: 0;
        height: @siteBoardHeaderHeight;
        li {
            cursor: pointer;
            display: inline-block;
            position: relative;
            height: @siteBoardHeaderHeight;
            line-height: @siteBoardHeaderHeight;
            overflow: hidden;
            margin: 0 20px;
            padding: 0 4px;
            border-bottom: 4px solid @siteBoardHeaderBg;
            &.active, &:hover {
                border-bottom-color: #01b1ae;
            }
            .nav-tab {
                color: #5e7184;
                cursor: pointer;
                padding: 10px;
                text-decoration: none;
            }
        }
    }
}

.board-content-against-right {
    margin-right: -20px;
}

.board-content-order {
    background-color: #edf2f8;
    .block-order {
        background: #fff;
        padding: 20px;
        margin-bottom: 20px;
        &-header {
            line-height: 1.75em;
        }
        &-right {
            border-left:2px solid  #D2DFEA;
            min-height:180px
        }
        &-body {
            margin-top: 7px;
            border-top: 2px solid #edf2f8;
        }
        .ul-order-list {
            height: 3em;
            line-height: 3em;
            border-bottom: 1px solid @siteBlockOrderBorderColor;
            margin: 0;
            white-space: nowrap;
            padding-right: 20px;
            width: 100%;
            li {
                display: inline-block;
                width: 25%;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            li:first-child {
                width: 234px;
            }
            &:last-child {
                border-bottom: 0;
            }
        }
        &-more-handler {
            cursor: pointer;
            line-height: 3em;
            height: 3em;
            overflow: hidden;
        }
    }
    .product-type {
        display: inline-block;
        color :#fff;
        border-radius: 3px;
        line-height: 1em;
        padding: 3px 5px;
        &-drug_precursor {
            background: @backgroundColorDrugPrecursor;
        }
        &-hazardous {
            background: @backgroundColorHazardous;
        }
        &-highly_toxic {
            background: @backgroundColorHighlyToxic;
        }
    }
}
