@import "inc/bootstrap/variables";
@import "inc/bootstrap/mixins";
/* @import "inc/non-responsive"; */
/* 自定义字体 */
@import "inc/font";
/* 自定义变量 */
@import "inc/variables";
/* reset html */
@import "inc/reset";
/* reset bootstrap */
@import "inc/extend-bootstrap";
/* layout */
/* @import "inc/layout"; */

html,body {
    height: 100%;
}
body {
    border-top: 10px solid #3c9;
    background: #123;
}
